body{
    background: #25356c;
}
.navbar{
    background: url(https://res.cloudinary.com/dakoopdcp/image/upload/v1649875637/solidworks-2021-hardware_xodwyc.jpg);
    background-size: 100%;
    height: 300px;
}
.navbar * {
    color: #FFF !important;
}

.topnav a,
.post .title a h3,
.side .content a,
.post .details,
.post .content *{
    color: #FFF;
}

.topnav,
.side,
.post,
#footer {
    background: #4f60d9;
}

.topnav a:hover{
    color:#F5AB35;
}

.side h5{
    color: #fdfdfd;
}
.side h5,
.side .content{
    background-color: unset;
}

